.login-form {
  background-color: #fff;
  position: relative;
  width: 400px;
  margin: 120px auto 0;
  padding: 20px 20px;
  border: 1px solid #E0E6ED;
  border-radius: 4px;
  label {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    color: #8492A6;
  }
  button {
    display: block;
  }
}

.login-form__title {
  font-size: 24px;
  font-weight: 200;
}

.login-form__input {
  width: 100%;
  display: block;
  padding: 10px 0px;
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 200;
  border: none;
  border-bottom: solid 1px #C0CCDA;
  transition: border 0.3s ease;
  &:focus {
    outline: none;
    border-bottom-color: #1FB6FF;
  }
  &.invalid {
    color: #FF4949;
    border-bottom-color: #FF4949;
  }
}

.input__error-text {
  color: #FF4949;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
}

.login-form__submit {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  font-size: 18px;
  background-color: #1FB6FF;
  border: none;
  border-radius: 4px;
  font-weight: 200;
  color: #fff;
  &:focus {
    outline: none;
  }
}


.login-form__toggle {
  text-align: center;
  margin: 20px 0;
  text-transform: capitalize;
  font-size: 14px;
  a {
    text-decoration: none;
    color: #8492A6;
    transition: color 0.3s ease;
    &:hover {
      color: #1FB6FF;
    }
  }
}
