.info {
  position: absolute;
  right: 20px;
}

.info__text {
  display: inline-block;
  font-size: 14px;
  position: relative;
  right: 21px;
  padding: 11px 20px 12px;
  width: 260px;
  border-radius: 4px 0px 0px 4px;
  color: #8492A6;
  font-weight: 200;
  letter-spacing: 1px;
  background-color: #fff;
}

.info__btn {
  position: absolute;
  border-radius: 50%;
  right: 0px;
  height: 40px;
  width: 40px;
  background-color: #fff;
  transition: background 0.1s ease;
  background: url('../images/icon-info.svg') no-repeat center/contain;
  &:hover {
    background: url('../images/icon-info-hover.svg') no-repeat center/contain;
  }
  &.close {
    background: url('../images/icon-info-close.svg') no-repeat center/contain;
    &:hover {
      background: url('../images/icon-info-close-hover.svg') no-repeat center/contain;
    }
  }
}
